@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}


Body {
   
    background-image: linear-gradient(to bottom, #CDB3A2, #635E5B, #574C38);
    font-family: Arial, Helvetica, sans-serif;
}
    a {

    color: rgb(150, 72, 0);
    text-decoration: none;
    }

    a:hover {
    color: black;
    text-decoration: underline;

    }
a::after {
    

}

main {

    background-color: white;
    width: 800px;
    height: 550px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #574C38;
     padding: 10px;
    margin: auto;

}
h1 {
    color: #635E5B;
    text-align: center;
    text-shadow: 2px 2px 2px #292726e8;

}

h2 {
    text-align: left;
color: #635E5B;
}
p {
text-align: justify;

}

.voltar {
    color: black;
}