@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: white;
        width: 800px;
        height: auto;
        border-radius: 10px;
        box-shadow: 1px 1px 1px #574C38;
        padding: 10px;
        margin: auto auto 15px auto;

}

Body {
   
    background-image: linear-gradient(to bottom, #CDB3A2, #635E5B, #574C38);
    font-family: Arial, Helvetica, sans-serif;
    
}
    a {

    color: #964800;
    text-decoration: none;
    }

    a:hover {
    color: black;
    text-decoration: underline;

    }
a::after {
    

}

main {

    background-color: white;
    width: 800px;
    height: 550px;
    border-radius: 10px;
    padding: 10px;
    margin: auto;

}

nav{
box-shadow: 0px 0px 1px 1px #CDB3A2;
border-radius: 10px;
text-shadow: #1f1b14;

}

nav > a {
    font-size: 25px;
    font-weight: bold;
    padding-right: 20px;
    margin-left: 70px;
   

}
h1 {
    color: #a89e9a;
    text-align: center;
    text-shadow: 2px 2px 0px #0c0b0be8;
    font-size: 2.2em;
    text-decoration: underline;
}

h2 {
    text-align: left;
color: #635E5B;
}
p {

text-align: justify;

}

.voltar {
    color: black;
}